.how-we-roll {
    padding: 6rem 0;
    position: relative;
    &__content {}
    &__header {
        display: block;
        font-weight: 700;
        color: $darkblue;
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }
}

.timeline__content {
	position: relative;
}
.timeline {
    padding-top: 6rem;
    &__events {}
    &-event {
        width: 100%;
        // display: flex;
        padding: 0 10%;
        &:after {
            content: '';
            display: table;
            clear: both;
        }
        &__box {
            width: 50%;
            min-width: 300px;
            background-color: red;
            height: 100px;
            align-self: flex-start;
            margin: 1rem 5%;
        }
        &__box.right-box {
            // align-self: self-end;
            float: right;
        }
    }
}
